:root {
  --soft-font-family: "Montserrat", sans-serif;
  --soft-bg-rgb: 238, 240, 245;
  --soft-bg: rgb(var(--soft-bg-rgb));
  --soft-text-primary: #444;

  --soft-color-rgb: 45, 61, 207;
  --soft-color-highlight-rgb: 113, 123, 214;
  --soft-light-rgb: 255, 255, 255;
  --soft-shadow-rgb: 12, 13, 18;

  --soft-color: rgb(var(--soft-color-rgb));
  --soft-color-highlight: rgb(var(--soft-color-highlight-rgb));

  --soft-light-high: rgba(var(--soft-light-rgb), 1);
  --soft-light-low: rgba(var(--soft-light-rgb), 0.9);

  --soft-shadow-high: rgba(var(--soft-shadow-rgb), 0.08);
  --soft-shadow-low: rgba(var(--soft-shadow-rgb), 0.06);

  font-family: var(--soft-font-family);
  background-color: var(--soft-bg);
}
